<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>100 JHS</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container">

<h1>LEVEL 100 JHS</h1>

      <input
    type="text"
    id="searchInput"
    placeholder="Search subject..."
    class="search-bar"
    onkeyup="searchSubjects()"/>

 <h2>FIRST SEMESTER</h2>


      <a href="/objective/category/ElementaryAlgebra" class="btn subject">1. Elementary Algebra</a>

<a href="/objective/category/CollegeAlgebra" class="btn subject">2. College Algebra</a>

<a href="/objective/category/GeneralBiology" class="btn subject">3. General Biology</a>

<a href="/objective/category/ChildAdolescentDevelopmentLearning" class="btn subject">4. Child and Adolescent Development and Learning</a>

<a href="/objective/category/ComputerLiteracy" class="btn subject">5. Computer Literacy</a>

<a href="/objective/category/LanguageLinguistics" class="btn subject">6. Language and Linguistics</a>

<a href="/objective/category/FundamentalsICT" class="btn subject">7. Fundamentals of ICT Education</a>

<a href="/objective/category/FoundationPhysicalEducation" class="btn subject">8. Foundations of Physical Education</a>

<a href="/objective/category/FundamentalsHomeEconomics" class="btn subject">9. Fundamentals in Home Economics</a>

<a href="/objective/category/GeneralAgriculture" class="btn subject">10. General Agriculture I</a>

<a href="/objective/category/GeneralBiologyTheory" class="btn subject">11. General Biology Theory I</a>

<a href="/objective/category/GeneralBiologyPractical" class="btn subject">12. General Biology Practical I</a>

<a href="/objective/category/GhanaianLanguageCulture" class="btn subject">13. Ghanaian Language and Culture-Writing Techniques</a>

<a href="/objective/category/InformationLiteracySkills" class="btn subject">14. Information Literacy Skills</a>

<a href="/objective/category/LinguisticsGhanaianLanguage" class="btn subject">15. Linguistics of the Ghanaian Language</a>

<a href="/objective/category/LiteratureAfricanPoetry" class="btn subject">16. Literature in English Studies in African Poetry</a>

<a href="/objective/category/PhilosophicalPsychologicalRME" class="btn subject">17. Philosophical and Psychological Foundations of RME</a>

<a href="/objective/category/PrinciplesPracticeEducation" class="btn subject">18. Principles and Practice of Education</a>

<a href="/objective/category/IntroductionSocialStudies" class="btn subject">19. Introduction to Social Studies</a>

<a href="/objective/category/BasicDesign" class="btn subject">20. Basic Design</a>

<a href="/objective/category/UseOfEnglish" class="btn subject">21. The Use of English</a>

<a href="/objective/category/AnthropologyReligion" class="btn subject">22. Anthropology of Religion</a>

<a href="/objective/category/ElementaryGeometry" class="btn subject">23. Elementary Geometry</a>

<a href="/objective/category/HumanLandIssues" class="btn subject">24. Human-Land Issues in Social Studies</a>

<a href="/objective/category/SociologyFamily" class="btn subject">25. Sociology of the Family</a>

<a href="/objective/category/FieldExperienceI" class="btn subject">26. Field Experience I</a>
    


    <h2>SECOND SEMESTER</h2>

<a href="/theory/GeneralChemistry" class="btn subject">1. General Chemistry</a>

<a href="/theory/OralLiteratureOfTheGhanaianLanguage" class="btn subject">2. Oral Literature of the Ghanaian Language</a>

<a href="/theory/WrittenLiteratureOfTheGhanaianLanguage" class="btn subject">3. Written Literature of the Ghanaian Language</a>

<a href="/theory/LiteratureInEnglishStudiesInPoetry" class="btn subject">4. Literature in English II – Studies in Poetry</a>

<a href="/theory/LiteratureOfTheGhanaianLanguage" class="btn subject">5. Literature of the Ghanaian Language</a>

<a href="/theory/PhysicalAndSocialRelationsInSocialStudies" class="btn subject">6. Physical and Social Relations in Social Studies</a>

<a href="/theory/NatureOfPerformingArts" class="btn subject">7. Nature of Performing Arts</a>

<a href="/theory/HumanLandIssuesInSocialStudies" class="btn subject">8. Human-Land Issues in Social Studies</a>

<a href="/theory/ProseFiction" class="btn subject">9. Prose Fiction</a>

<a href="/theory/IntroductionToFoodAndNutrition" class="btn subject">10. Introduction to Food and Nutrition</a>

<a href="/theory/IntroductionToClothingAndTextiles" class="btn subject">11. Introduction to Clothing and Textiles</a>

<a href="/theory/IntroductionToFamilyResourceManagement" class="btn subject">12. Introduction to Family Resource Management</a>

<a href="/theory/LearningTheoriesForTeachingComputers" class="btn subject">13. Learning Theories for Teaching Computers</a>

<a href="/theory/Trigonometry" class="btn subject">14. Trigonometry</a>

</div>

</body>

<script src="/script.js"></script>

</html>

