<!DOCTYPE html>
<html>
<head>
    <title>100 JHS</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container">

<h1>LEVEL 200 JHS</h1>

 <input
    type="text"
    id="searchInput"
    placeholder="Search subject..."
    class="search-bar"
    onkeyup="searchSubjects()"/>

    <h2>FIRST SEMESTER</h2>


     <a href="/objective/category/BiblicalStudies" class="btn subject">1. Biblical Studies</a>

<a href="/objective/category/CitizenshipEducationGhana" class="btn subject">2. Citizenship Education In Ghana</a>

<a href="/objective/category/CropProduction" class="btn subject">3. Crop Production</a>

<a href="/objective/category/EnglishLanguageStudiesII" class="btn subject">4. English Language Studies II</a>

<a href="/objective/category/AlgebraicThinking" class="btn subject">5. Algebraic Thinking</a>

<a href="/objective/category/GameActivitiesBasicSchools" class="btn subject">6. Game Activities for Basic Schools</a>

<a href="/objective/category/TextileFibresFabrics" class="btn subject">7. Textile Fibres and Fabrics</a>

<a href="/objective/category/GeneralCurriculumStudies" class="btn subject">8. General Curriculum Studies</a>

<a href="/objective/category/GeneralPhysicsTheoryII" class="btn subject">9. General Physics Theory II</a>

<a href="/objective/category/GeneralPhysicsPracticalII" class="btn subject">10. General Physics Practical II</a>

<a href="/objective/category/HealthPhysicalFitness" class="btn subject">11. Health and Physical Fitness</a>

<a href="/objective/category/HealthSafetySocialIssues" class="btn subject">12. Health, Safety and Social Issues in Schools</a>

<a href="/objective/category/ValueChainAgriculture" class="btn subject">13. Value Chain Agriculture</a>

<a href="/objective/category/FoundationsTVET" class="btn subject">14. Foundations of TVET</a>

<a href="/objective/category/StudiesDramaComedyTragedy" class="btn subject">15. Studies in Drama (Comedy & Tragedy)</a>

<a href="/objective/category/MealManagement" class="btn subject">16. Meal Management</a>

<a href="/objective/category/GeneralPhysics" class="btn subject">17. General Physics</a>

<a href="/objective/category/SocialStudiesIntegrated" class="btn subject">18. Social Studies as an Integrated Subject</a>

<a href="/objective/category/SoundMovementNotation" class="btn subject">19. Sound and Movement Notation</a>

<a href="/objective/category/AgriculturalEntrepreneurship" class="btn subject">20. Agricultural Entrepreneurship</a>

<a href="/objective/category/GhanaianLanguageCultureEssay" class="btn subject">21. Ghanaian Language and Culture Essay Writing</a>

<a href="/objective/category/CurriculumStudiesRME" class="btn subject">22. Curriculum Studies in RME</a>

<a href="/objective/category/CurriculumStudiesScience" class="btn subject">23. Curriculum Studies in Science</a>

<a href="/objective/category/GeneralChemistryTheoryII" class="btn subject">24. General Chemistry Theory II</a>

<a href="/objective/category/GeneralChemistryPracticalII" class="btn subject">25. General Chemistry Practical II</a>

<a href="/objective/category/PhonologyGhanaianLanguage" class="btn subject">26. Phonology of the Ghanaian Language</a>

<a href="/objective/category/PeaceBuildingCommunities" class="btn subject">27. Peace Building in our Communities</a>

<a href="/objective/category/SocialStructureGhana" class="btn subject">28. The Social Structure of Ghana</a>

<a href="/objective/category/IntroductionSemantics" class="btn subject">29. Introduction To Semantics</a>

<a href="/objective/category/ICTSupportedTeachingLearning" class="btn subject">30. ICT Supported Teaching and Learning Strategies</a>

<a href="/objective/category/Databases" class="btn subject">31. Databases</a>

<a href="/objective/category/NatureMathematics" class="btn subject">32. Nature of Mathematics</a>

<a href="/objective/category/SentenceParts" class="btn subject">33. The Sentence and its Parts</a>

<a href="/objective/category/FieldExperienceIII" class="btn subject">34. Field Experience III</a>
     
   
    <h2>SECOND SEMESTER</h2>

    <a href="/objective/category/GeneralChemistry" class="btn">
        1. General Chemistry
    </a>

    <a href="/objective/category/EnglishStudies" class="btn">
        2. English Language Studies 1
    </a>

    <a href="/objective/category/GhanaianLanguage" class="btn">
        3. Ghanaian Language and Culture (Twi)
    </a>

    <a href="/objective/category/GeometryTrig" class="btn">
        4. Geometry and Trigonometry
    </a>

    <a href="/objective/category/HIVAIDS" class="btn">
        5. HIV and AIDS and Endemic Diseases in Africa
    </a>

    <a href="/objective/category/HumanLandIssues" class="btn">
        6. Human-Land Issues in Social Studies
    </a>

    <a href="/objective/category/ProseFiction" class="btn">
        7. Prose Fiction
    </a>

    <a href="/objective/category/CreativityPerception" class="btn">
       8. Creativity and Perception
    </a>

</div>

</body>

<script src="/script.js"></script>

</html>
