<!DOCTYPE html>
<html>
<head>
    <title>100 JHS</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container">

<h1>LEVEL 300 JHS</h1>

  <input
    type="text"
    id="searchInput"
    placeholder="Search subject..."
    class="search-bar"
    onkeyup="searchSubjects()"/>

    <h2>FIRST SEMESTER</h2>  


     <a href="/objective/category/Calculus" class="btn subject">1. Calculus</a>

<a href="/objective/category/GeneralChemistryTheoryIII" class="btn subject">2. General Chemistry Theory 3</a>

<a href="/objective/category/GeneralChemistryPracticalIII" class="btn subject">3. General Chemistry Practical</a>

<a href="/objective/category/ClothingConstruction" class="btn subject">4. Clothing construction</a>

<a href="/objective/category/NonTraditionalAnimalFarming" class="btn subject">5. Non Traditional Animal Farming</a>

<a href="/objective/category/FoodHandlingPreservation" class="btn subject">6. Food handling and preservation</a>

<a href="/objective/category/OralLiteratureAfrica" class="btn subject">7. Oral Literature in Africa</a>

<a href="/objective/category/PhoneticsPhonology" class="btn subject">8. Phonetics and Phonology</a>

<a href="/objective/category/MethodsTeachingAgricScience" class="btn subject">9. Methods of teaching Agric Science</a>

<a href="/objective/category/PsychologicalPerspectiveRME" class="btn subject">10. Psychological Perspective in RME</a>

<a href="/objective/category/GhanaianLanguageCreativeWriting" class="btn subject">11. Ghanaian Language and Culture: Creative Writing</a>

<a href="/objective/category/MethodsTeachingGhanaianLanguage" class="btn subject">12. Methods of Teaching Ghanaian Language and Culture</a>

<a href="/objective/category/MethodsTeachingPhysicalEducation" class="btn subject">13. Methods of teaching physical education</a>

<a href="/objective/category/MethodsTeachingEnglish" class="btn subject">14. Methods of teaching English at the Primary school level</a>

<a href="/objective/category/MethodsTeachingPrimaryMathematics" class="btn subject">15. Methods of teaching Primary school mathematics</a>

<a href="/objective/category/MethodsTeachingPrimaryScience" class="btn subject">16. Methods of teaching Primary school science</a>

<a href="/objective/category/MethodsTeachingRME" class="btn subject">17. Methods of Teaching RME</a>

<a href="/objective/category/GlobalStudiesAfrica" class="btn subject">18. Global Studies in Africa</a>

<a href="/objective/category/PrinciplesMethodsTeachingSocialStudies" class="btn subject">19. Principles and Methods of Teaching Social Studies</a>

<a href="/objective/category/PrinciplesMethodsTeachingPerformingArts" class="btn subject">20. Principles and Methods of teaching the performing arts</a>

<a href="/objective/category/PrinciplesMethodsTeachingVisualArts" class="btn subject">21. Principles and Methods of teaching Visual Arts</a>

<a href="/objective/category/UseGhanaianLanguageInstruction" class="btn subject">22. The use of Ghanaian Language as a medium of Instruction</a>

<a href="/objective/category/ICTIntegrationEducation" class="btn subject">23. ICT Integration in Education</a>

<a href="/objective/category/IntroductionResearchMethodsEducation" class="btn subject">24. Introduction to Research Methods in Education</a>

<a href="/objective/category/IssuesFamilyFinance" class="btn subject">25. Issues in family finance</a>

<a href="/objective/category/PopulationSocioEconomicDevelopment" class="btn subject">26. Population and Socio-economic Development in Ghana</a>

<a href="/objective/category/StatisticsProbability" class="btn subject">27. Statistics and probability 1</a>

<a href="/objective/category/MethodsTeachingHomeEconomics" class="btn subject">28. Methods of teaching home economics</a>

<a href="/objective/category/InServiceEducationTraining" class="btn subject">29. In-Service Education and Training</a>

<a href="/objective/category/MethodsTeachingMathematics" class="btn subject">30. Methods of Teaching Mathematics</a>

<a href="/objective/category/IntroductoryAtomicPhysics" class="btn subject">31. Introductory Atomic Physics, Heat and Optics</a>

<a href="/objective/category/LaboratoryManagementSafety" class="btn subject">32. Laboratory Management and Safety</a>

<a href="/objective/category/PrinciplesHousingManagement" class="btn subject">33. Principles of housing and housing management</a>

<a href="/objective/category/PedagogicalContentKnowledgeMathematics" class="btn subject">34. Pedagogical Content Knowledge in Mathematics</a>

<a href="/objective/category/AfricanTraditionalReligionHealthManagement" class="btn subject">35. African Traditional Religion and Health Management</a>

<a href="/objective/category/MethodsTeachingEnglish" class="btn subject">36. Methods of Teaching English</a>

<a href="/objective/category/LiteratureGenderIssues" class="btn subject">37. Literature-Gender Issues in Ghanaian language Literary Text</a>

<a href="/objective/category/FieldExperienceIV" class="btn subject">38. Field Experience IV</a>


    <h2>SECOND SEMESTER</h2>

    <a href="/objective/category/GeneralChemistry" class="btn">
        1. General Chemistry
    </a>

    <a href="/objective/category/EnglishStudies" class="btn">
        2. English Language Studies 1
    </a>

    <a href="/objective/category/GhanaianLanguage" class="btn">
        3. Ghanaian Language and Culture (Twi)
    </a>

    <a href="/objective/category/GeometryTrig" class="btn">
        4. Geometry and Trigonometry
    </a>

    <a href="/objective/category/HIVAIDS" class="btn">
        5. HIV and AIDS and Endemic Diseases in Africa
    </a>

    <a href="/objective/category/HumanLandIssues" class="btn">
        6. Human-Land Issues in Social Studies
    </a>

    <a href="/objective/category/ProseFiction" class="btn">
        7. Prose Fiction
    </a>

    <a href="/objective/category/CreativityPerception" class="btn">
       8. Creativity and Perception
    </a>

</div>

</body>

<script src="/script.js"></script>

</html>
