<!DOCTYPE html>
<html>
<head>

<title>Create Group</title>

<link rel="stylesheet" href="/css/chats.css">

</head>
<body>

<div class="chat-container">

<h1>Create Group</h1>

<form action="/creategroup" method="POST">

<input
type="text"
name="groupName"
placeholder="Group Name"
required>

<button type="submit">
Create
</button>

</form>

</div>

</body>
</html>
