<!DOCTYPE html>
<html>
<head>
    <title>SitApp</title>
    <link rel="stylesheet" href="/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>



<!-- Splash Screen -->
<div class="splash-screen" id="splash">

    <img src="logo.png" alt="Logo">

    <h1>SitApp</h1>

</div>


<div class="topbar">


<button class="profile-btn">

            <!-- User Image -->
            <img 
                src="profile.png" 
                alt="Profile"
                id="profileImage">

        </button>


    <div class="logo">
        <img src="logo.png">
    </div>
    

    <div class="menu-icon" id="menuBtn">☰</div

</div>



<!....Sidebar.....>
<div class="sidebar" id="sidebar">
  <a href="page1.html">Settings</a>
  <a href="page2.html">About</a>
  <a href="page3.html">Contact</a>
  <a href="page4.html">Logout</a>

  <div class="copyrighttext">
    <p>© 2026 Learning App</p>
  </div>

</div>

<div class="overlay" id="overlay"></div>


<div class="container">

    <h1>📚 Learning App</h1>
      <h6 class="subhead">Take objective quizes here</h6> 
      
     <a href="/objectivequizes" class="btn bart">Start Objective Questions</a>

     <h6 class="subhead">Objective quetions from all areas</h6> 

     <a href="/theorysubjects" class="btn bart">View Objective Questions</a>

 </div>

    <h3>Select Level</h3>
    <h6 class="subhead">Select your level for theory past quetions</h6>

    <a href="/levels/level100" class="btn">LEVEL 100</a>
    <a href="/levels/level200" class="btn">LEVEL 200</a>
    <a href="/levels/level300" class="btn">LEVEL 300</a>

</div>


<!-- SLIDER -->
<div class="edu-slider">

    <div class="slide-row">

        <img src="image1.png" class="slide-img">
        <img src="image2.png" class="slide-img active">
        <img src="image3.png" class="slide-img">
        <img src="image4.png" class="slide-img">
        <img src="image5.png" class="slide-img">

    </div>

</div>




<!-- Footer -->
<div class="footer">

    <div class="footer-icon chats">
        <i class='bx bx-message-rounded-dots'></i>
    </div>
       
    
    <div class="footer-icon upload-btn">
        <i class='bx bx-upload'></i>
    </div>

    <div class="footer-icon videos">
        <i class='bx bx-play-circle'></i>
    </div>

</div>


</body>

<script src="/script.js"></script>
<script src="/js/footer.js"></script>

</html>
