<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Objective Quizes</title>

    <link rel="stylesheet" href="/style.css">

</head>
<body>

<div class="container">

    <h1>Select Subject</h1>

    <input
    type="text"
    id="searchInput"
    placeholder="Search subject..."
    class="search-bar"
    onkeyup="searchSubjects()"/>

    <h2>FIRST SEMESTER</h2>

    <a href="/objective/category/ElementaryAlgebra" class="btn subject">1. Elementary Algebra</a>

<a href="/objective/category/GeneralBiology" class="btn subject">2. General Biology</a>

<a href="/objective/category/ChildAdolescentDevelopmentLearning" class="btn subject">3. Child and Adolescent Development and Learning</a>

<a href="/objective/category/ComputerLiteracy" class="btn subject">4. Computer Literacy</a>

<a href="/objective/category/LanguageLinguistics" class="btn subject">5. Language and Linguistics</a>

<a href="/objective/category/GeneralAgriculture" class="btn subject">6. General Agriculture I</a>

<a href="/objective/category/GeneralBiologyTheory" class="btn subject">7. General Biology Theory I</a>

<a href="/objective/category/GeneralBiologyPractical" class="btn subject">8. General Biology Practical I</a>

<a href="/objective/category/GhanaianLanguageCulture" class="btn subject">9. Ghanaian Language and Culture-Writing Techniques</a>

<a href="/objective/category/LinguisticsGhanaianLanguage" class="btn subject">10. Linguistics of the Ghanaian Language</a>

<a href="/objective/category/LiteratureAfricanPoetry" class="btn subject">11. Literature in English Studies in African Poetry</a>

<a href="/objective/category/PerformingArtsSociety" class="btn subject">12. Performing Arts and Society</a>

<a href="/objective/category/BasicDesign" class="btn subject">13. Basic Design</a>

<a href="/objective/category/SociologyFamily" class="btn subject">14. Sociology of the Family</a>

<a href="/objective/category/ElementaryAlgebra" class="btn subject">15. Elementary Algebra</a>

<a href="/objective/category/CollegeAlgebra" class="btn subject">16. College Algebra</a>

<a href="/objective/category/GeneralBiology" class="btn subject">17. General Biology</a>

<a href="/objective/category/ChildAdolescentDevelopmentLearning" class="btn subject">18. Child and Adolescent Development and Learning</a>

<a href="/objective/category/ComputerLiteracy" class="btn subject">19. Computer Literacy</a>

<a href="/objective/category/LanguageLinguistics" class="btn subject">20. Language and Linguistics</a>

<a href="/objective/category/FundamentalsICT" class="btn subject">21. Fundamentals of ICT Education</a>

<a href="/objective/category/FoundationPhysicalEducation" class="btn subject">22. Foundations of Physical Education</a>

<a href="/objective/category/FundamentalsHomeEconomics" class="btn subject">23. Fundamentals in Home Economics</a>

<a href="/objective/category/GeneralAgriculture" class="btn subject">24. General Agriculture I</a>

<a href="/objective/category/GeneralBiologyTheory" class="btn subject">25. General Biology Theory I</a>

<a href="/objective/category/GeneralBiologyPractical" class="btn subject">26. General Biology Practical I</a>

<a href="/objective/category/GhanaianLanguageCulture" class="btn subject">27. Ghanaian Language and Culture-Writing Techniques</a>

<a href="/objective/category/InformationLiteracySkills" class="btn subject">28. Information Literacy Skills</a>

<a href="/objective/category/LinguisticsGhanaianLanguage" class="btn subject">29. Linguistics of the Ghanaian Language</a>

<a href="/objective/category/LiteratureAfricanPoetry" class="btn subject">30. Literature in English Studies in African Poetry</a>

<a href="/objective/category/PhilosophicalPsychologicalRME" class="btn subject">31. Philosophical and Psychological Foundations of RME</a>

<a href="/objective/category/PrinciplesPracticeEducation" class="btn subject">32. Principles and Practice of Education</a>

<a href="/objective/category/IntroductionSocialStudies" class="btn subject">33. Introduction to Social Studies</a>

<a href="/objective/category/BasicDesign" class="btn subject">34. Basic Design</a>

<a href="/objective/category/UseOfEnglish" class="btn subject">35. The Use of English</a>

<a href="/objective/category/AnthropologyReligion" class="btn subject">36. Anthropology of Religion</a>

<a href="/objective/category/ElementaryGeometry" class="btn subject">36. Elementary Geometry</a>

<a href="/objective/category/HumanLandIssues" class="btn subject">37. Human-Land Issues in Social Studies</a>

<a href="/objective/category/SociologyFamily" class="btn subject">38. Sociology of the Family</a>

<a href="/objective/category/MethodsTeachingMathematics" class="btn subject">39. Methods of Teaching Mathematics</a>

<a href="/objective/category/CitizenshipEducationGhana" class="btn subject">40. Citizenship Education In Ghana</a>

<a href="/objective/category/CropProduction" class="btn subject">41. Crop Production</a>

<a href="/objective/category/EnglishLanguageStudiesII" class="btn subject">42. English Language Studies II</a>

<a href="/objective/category/GeneralCurriculumStudies" class="btn subject">43. General Curriculum Studies</a>

<a href="/objective/category/GeneralPhysicsPracticalII" class="btn subject">44. General Physics Practical II</a>

<a href="/objective/category/HealthPhysicalFitness" class="btn subject">45. Health and Physical Fitness</a>

<a href="/objective/category/HealthSafetySocialIssues" class="btn subject">46. Health, Safety and Social Issues in Schools</a>

<a href="/objective/category/GeneralPhysics" class="btn subject">47. General Physics</a>

<a href="/objective/category/SocialStudiesIntegrated" class="btn subject">48. Social Studies as an Integrated Subject</a>

<a href="/objective/category/SoundMovementNotation" class="btn subject">49. Sound and Movement Notation</a>
<a href="/objective/category/AgriculturalEntrepreneurship" class="btn subject">50. Agricultural Entrepreneurship</a>

<a href="/objective/category/CurriculumStudiesScience" class="btn subject">51. Curriculum Studies in Science</a>

<a href="/objective/category/PeaceBuildingCommunities" class="btn subject">52. Peace Building in our Communities</a>

<a href="/objective/category/SocialStructureGhana" class="btn subject">53. The Social Structure of Ghana</a>

<a href="/objective/category/IntroductionSemantics" class="btn subject">54. Introduction To Semantics</a>

<a href="/objective/category/ICTSupportedTeachingLearning" class="btn subject">55. ICT Supported Teaching and Learning Strategies</a>

<a href="/objective/category/Databases" class="btn subject">56. Databases</a>

<a href="/objective/category/NatureMathematics" class="btn subject">57. Nature of Mathematics</a>

<a href="/objective/category/GlobalStudiesAfrica" class="btn subject">58. Global Studies in Africa</a>

<a href="/objective/category/BiblicalStudies" class="btn subject">59. Biblical Studies</a>

<a href="/objective/category/CitizenshipEducationGhana" class="btn subject">60. Citizenship Education In Ghana</a>

<a href="/objective/category/CropProduction" class="btn subject">61. Crop Production</a>

<a href="/objective/category/EnglishLanguageStudiesII" class="btn subject">62. English Language Studies II</a>

<a href="/objective/category/AlgebraicThinking" class="btn subject">63. Algebraic Thinking</a>

<a href="/objective/category/GameActivitiesBasicSchools" class="btn subject">64. Game Activities for Basic Schools</a>

<a href="/objective/category/TextileFibresFabrics" class="btn subject">65. Textile Fibres and Fabrics</a>

<a href="/objective/category/GeneralCurriculumStudies" class="btn subject">66. General Curriculum Studies</a>

<a href="/objective/category/GeneralPhysicsTheoryII" class="btn subject">67. General Physics Theory II</a>

<a href="/objective/category/GeneralPhysicsPracticalII" class="btn subject">68. General Physics Practical II</a>

<a href="/objective/category/HealthPhysicalFitness" class="btn subject">69. Health and Physical Fitness</a>

<a href="/objective/category/HealthSafetySocialIssues" class="btn subject">70. Health, Safety and Social Issues in Schools</a>

<a href="/objective/category/ValueChainAgriculture" class="btn subject">71. Value Chain Agriculture</a>

<a href="/objective/category/FoundationsTVET" class="btn subject">72. Foundations of TVET</a>

<a href="/objective/category/StudiesDramaComedyTragedy" class="btn subject">73. Studies in Drama (Comedy & Tragedy)</a>

<a href="/objective/category/MealManagement" class="btn subject">74. Meal Management</a>

<a href="/objective/category/GeneralPhysics" class="btn subject">75. General Physics</a>

<a href="/objective/category/SocialStudiesIntegrated" class="btn subject">76. Social Studies as an Integrated Subject</a>

<a href="/objective/category/SoundMovementNotation" class="btn subject">77. Sound and Movement Notation</a>

<a href="/objective/category/AgriculturalEntrepreneurship" class="btn subject">78. Agricultural Entrepreneurship</a>

<a href="/objective/category/GhanaianLanguageCultureEssay" class="btn subject">79. Ghanaian Language and Culture Essay Writing</a>

<a href="/objective/category/CurriculumStudiesRME" class="btn subject">80. Curriculum Studies in RME</a>

<a href="/objective/category/CurriculumStudiesScience" class="btn subject">81. Curriculum Studies in Science</a>

<a href="/objective/category/GeneralChemistryTheoryII" class="btn subject">82. General Chemistry Theory II</a>

<a href="/objective/category/GeneralChemistryPracticalII" class="btn subject">83. General Chemistry Practical II</a>

<a href="/objective/category/PhonologyGhanaianLanguage" class="btn subject">84. Phonology of the Ghanaian Language</a>

<a href="/objective/category/PeaceBuildingCommunities" class="btn subject">85. Peace Building in our Communities</a>

<a href="/objective/category/SocialStructureGhana" class="btn subject">86. The Social Structure of Ghana</a>

<a href="/objective/category/IntroductionSemantics" class="btn subject">87. Introduction To Semantics</a>

<a href="/objective/category/ICTSupportedTeachingLearning" class="btn subject">88. ICT Supported Teaching and Learning Strategies</a>

<a href="/objective/category/Databases" class="btn subject">89. Databases</a>

<a href="/objective/category/NatureMathematics" class="btn subject">90. Nature of Mathematics</a>

<a href="/objective/category/SentenceParts" class="btn subject">91. The Sentence and its Parts</a>

<a href="/objective/category/LiteratureGenderIssues" class="btn subject">92. Literature-Gender Issues in Ghanaian language Literary Text</a>

<a href="/objective/category/Calculus" class="btn subject">93. Calculus</a>

<a href="/objective/category/MethodsTeachingPhysicalEducation" class="btn subject">94. Methods of teaching physical education</a>

<a href="/objective/category/MethodsTeachingEnglish" class="btn subject">95. Methods of teaching English at the Primary school level</a>

<a href="/objective/category/MethodsTeachingPrimaryMathematics" class="btn subject">96. Methods of teaching Primary school mathematics</a>

<a href="/objective/category/MethodsTeachingPrimaryScience" class="btn subject">97. Methods of teaching Primary school science</a>

<a href="/objective/category/ICTIntegrationEducation" class="btn subject">98. ICT Integration in Education</a>

<a href="/objective/category/IssuesFamilyFinance" class="btn subject">99. Issues in family finance</a>

<a href="/objective/category/InServiceEducationTraining" class="btn subject">100. In-Service Education and Training</a>

<a href="/objective/category/MethodsTeachingMathematics" class="btn subject">101. Methods of Teaching Mathematics</a>

<a href="/objective/category/LaboratoryManagementSafety" class="btn subject">102. Laboratory Management and Safety</a>

<a href="/objective/category/MethodsTeachingEnglish" class="btn subject">103. Methods of Teaching English</a>

<a href="/objective/category/Calculus" class="btn subject">104. Calculus</a>

<a href="/objective/category/GeneralChemistryTheoryIII" class="btn subject">105. General Chemistry Theory 3</a>

<a href="/objective/category/GeneralChemistryPracticalIII" class="btn subject">106. General Chemistry Practical</a>

<a href="/objective/category/ClothingConstruction" class="btn subject">107. Clothing construction</a>

<a href="/objective/category/NonTraditionalAnimalFarming" class="btn subject">108. Non Traditional Animal Farming</a>

<a href="/objective/category/FoodHandlingPreservation" class="btn subject">109. Food handling and preservation</a>

<a href="/objective/category/OralLiteratureAfrica" class="btn subject">110. Oral Literature in Africa</a>

<a href="/objective/category/PhoneticsPhonology" class="btn subject">111. Phonetics and Phonology</a>

<a href="/objective/category/MethodsTeachingAgricScience" class="btn subject">112. Methods of teaching Agric Science</a>

<a href="/objective/category/PsychologicalPerspectiveRME" class="btn subject">113. Psychological Perspective in RME</a>

<a href="/objective/category/GhanaianLanguageCreativeWriting" class="btn subject">114. Ghanaian Language and Culture: Creative Writing</a>

<a href="/objective/category/MethodsTeachingGhanaianLanguage" class="btn subject">115. Methods of Teaching Ghanaian Language and Culture</a>

<a href="/objective/category/MethodsTeachingPhysicalEducation" class="btn subject">116. Methods of teaching physical education</a>

<a href="/objective/category/MethodsTeachingEnglish" class="btn subject">117. Methods of teaching English at the Primary school level</a>

<a href="/objective/category/MethodsTeachingPrimaryMathematics" class="btn subject">118. Methods of teaching Primary school mathematics</a>

<a href="/objective/category/MethodsTeachingPrimaryScience" class="btn subject">119. Methods of teaching Primary school science</a>

<a href="/objective/category/MethodsTeachingRME" class="btn subject">120. Methods of Teaching RME</a>

<a href="/objective/category/GlobalStudiesAfrica" class="btn subject">121. Global Studies in Africa</a>

<a href="/objective/category/PrinciplesMethodsTeachingSocialStudies" class="btn subject">122. Principles and Methods of Teaching Social Studies</a>

<a href="/objective/category/PrinciplesMethodsTeachingPerformingArts" class="btn subject">123. Principles and Methods of teaching the performing arts</a>

<a href="/objective/category/PrinciplesMethodsTeachingVisualArts" class="btn subject">124. Principles and Methods of teaching Visual Arts</a>

<a href="/objective/category/UseGhanaianLanguageInstruction" class="btn subject">125. The use of Ghanaian Language as a medium of Instruction</a>

<a href="/objective/category/ICTIntegrationEducation" class="btn subject">126. ICT Integration in Education</a>

<a href="/objective/category/IntroductionResearchMethodsEducation" class="btn subject">127. Introduction to Research Methods in Education</a>

<a href="/objective/category/IssuesFamilyFinance" class="btn subject">128. Issues in family finance</a>

<a href="/objective/category/PopulationSocioEconomicDevelopment" class="btn subject">129. Population and Socio-economic Development in Ghana</a>

<a href="/objective/category/StatisticsProbability" class="btn subject">130. Statistics and probability 1</a>

<a href="/objective/category/MethodsTeachingHomeEconomics" class="btn subject">131. Methods of teaching home economics</a>

<a href="/objective/category/InServiceEducationTraining" class="btn subject">132. In-Service Education and Training</a>

<a href="/objective/category/MethodsTeachingMathematics" class="btn subject">133. Methods of Teaching Mathematics</a>

<a href="/objective/category/IntroductoryAtomicPhysics" class="btn subject">134. Introductory Atomic Physics, Heat and Optics</a>

<a href="/objective/category/LaboratoryManagementSafety" class="btn subject">135. Laboratory Management and Safety</a>

<a href="/objective/category/PrinciplesHousingManagement" class="btn subject">136. Principles of housing and housing management</a>

<a href="/objective/category/PedagogicalContentKnowledgeMathematics" class="btn subject">137. Pedagogical Content Knowledge in Mathematics</a>

<a href="/objective/category/AfricanTraditionalReligionHealthManagement" class="btn subject">138. African Traditional Religion and Health Management</a>



    <h2>SECOND SEMESTER</h2>

<a href="/theory/GeneralChemistryTheoryI" class="btn subject">1. General Chemistry Theory I</a>

<a href="/theory/GeneralChemistryPracticalI" class="btn subject">2. General Chemistry Practical I</a>

<a href="/theory/GeneralChemistry" class="btn subject">3. General Chemistry</a>

<a href="/theory/GeneralPhysicsTheoryI" class="btn subject">4. General Physics Theory I</a>

<a href="/theory/GeneralPhysicsPracticalI" class="btn subject">5. General Physics Practical I</a>

<a href="/theory/GeneralBiologyTheoryII" class="btn subject">6. General Biology Theory II</a>

<a href="/theory/GeneralBiologyPracticalII" class="btn subject">7. General Biology Practical II</a>

<a href="/theory/GeneralBiologyIII" class="btn subject">8. General Biology III</a>

<a href="/theory/GeneralBiologyPracticalIII" class="btn subject">9. General Biology Practical III</a>

<a href="/theory/CollegeGeometry" class="btn subject">10. College Geometry</a>

<a href="/theory/GeometryAndTrigonometry" class="btn subject">11. Geometry and Trigonometry</a>

<a href="/theory/Trigonometry" class="btn subject">12. Trigonometry</a>

<a href="/theory/StatisticsAndProbabilityI" class="btn subject">13. Statistics and Probability I</a>

<a href="/theory/StatisticsAndProbabilityII" class="btn subject">14. Statistics and Probability II</a>

<a href="/theory/EducationalStatistics" class="btn subject">15. Educational Statistics</a>

<a href="/theory/TeachingAndApplyingAlgebra" class="btn subject">16. Teaching and Applying Algebra</a>

<a href="/theory/AlgebraForBasicSchools" class="btn subject">17. Algebra for Basic Schools</a>

<a href="/theory/MethodsOfTeachingScience" class="btn subject">18. Methods of Teaching Science</a>

<a href="/theory/GeneralPrinciplesAndMethodsOfTeachingInBasicSchools" class="btn subject">19. General Principles and Methods of Teaching in Basic Schools</a>

<a href="/theory/MethodsOfTeaching" class="btn subject">20. Methods of Teaching</a>

<a href="/theory/CurriculumStudies" class="btn subject">21. Curriculum Studies</a>

<a href="/theory/CurriculumStudiesInScience" class="btn subject">22. Curriculum Studies in Science</a>

<a href="/theory/CurriculumStudiesInMathematics" class="btn subject">23. Curriculum Studies in Mathematics</a>

<a href="/theory/CurriculumStudiesInEnglish" class="btn subject">24. Curriculum Studies in English</a>

<a href="/theory/CurriculumStudiesInSocialStudies" class="btn subject">25. Curriculum Studies in Social Studies</a>

<a href="/theory/CurriculumStudiesInRME" class="btn subject">26. Curriculum Studies in RME</a>

<a href="/theory/CurriculumStudiesInHomeEconomics" class="btn subject">27. Curriculum Studies in Home Economics</a>

<a href="/theory/CurriculumStudiesInVisualArts" class="btn subject">28. Curriculum Studies in Visual Arts</a>

<a href="/theory/CurriculumStudiesInPhysicalEducation" class="btn subject">29. Curriculum Studies in Physical Education</a>

<a href="/theory/CurriculumStudiesInAgriculturalScience" class="btn subject">30. Curriculum Studies in Agricultural Science</a>

<a href="/theory/CurriculumInPerformingArts" class="btn subject">31. Curriculum in Performing Arts</a>

<a href="/theory/EnglishLanguageStudiesI" class="btn subject">32. English Language Studies I</a>

<a href="/theory/EnglishInMultilingualContext" class="btn subject">33. English in Multilingual Context</a>

<a href="/theory/StudiesInShakespeare" class="btn subject">34. Studies in Shakespeare</a>

<a href="/theory/StudiesInLiteratureGenderAndWriting" class="btn subject">35. Studies in Literature – Gender and Writing</a>

<a href="/theory/LiteratureInEnglishStudiesInPoetry" class="btn subject">36. Literature in English II – Studies in Poetry</a>

<a href="/theory/ProseFiction" class="btn subject">37. Prose Fiction</a>

<a href="/theory/IntroductionToSemantics" class="btn subject">38. Introduction to Semantics</a>

<a href="/theory/FormsAndFunctionsOfEnglishClause" class="btn subject">39. Forms and Functions of English Clause</a>

<a href="/theory/GhanaianLanguageAndCultureCulturalStudies" class="btn subject">40. Ghanaian Language and Culture: Cultural Studies</a>

<a href="/theory/GhanaianLanguageAndCultureMorphology" class="btn subject">41. Ghanaian Language and Culture: Morphology</a>

<a href="/theory/GhanaianLanguageAndCultureSyntax" class="btn subject">42. Ghanaian Language and Culture: Syntax</a>

<a href="/theory/GhanaianLanguageAndCultureComprehensionAndSummary" class="btn subject">43. Ghanaian Language and Culture: Comprehension and Summary</a>

<a href="/theory/OralLiteratureOfTheGhanaianLanguage" class="btn subject">44. Oral Literature of the Ghanaian Language</a>

<a href="/theory/WrittenLiteratureOfTheGhanaianLanguage" class="btn subject">45. Written Literature of the Ghanaian Language</a>

<a href="/theory/LiteratureOfTheGhanaianLanguage" class="btn subject">46. Literature of the Ghanaian Language</a>

<a href="/theory/AfricanTraditionalReligion" class="btn subject">47. African Traditional Religion</a>

<a href="/theory/AfricanTraditionalReligionII" class="btn subject">48. African Traditional Religion II</a>

<a href="/theory/ReligiousExperienceOfHumankind" class="btn subject">49. Religious Experience of Humankind</a>

<a href="/theory/MoralityAndSocialValuesInAfrica" class="btn subject">50. Morality and Social Values in Africa</a>

<a href="/theory/IslamicStudies" class="btn subject">51. Islamic Studies</a>

<a href="/theory/SociologicalPerspectivesOfRME" class="btn subject">52. Sociological Perspectives of RME</a>

<a href="/theory/PhysicalAndSocialRelationsInSocialStudies" class="btn subject">53. Physical and Social Relations in Social Studies</a>

<a href="/theory/HumanLandIssuesInSocialStudies" class="btn subject">54. Human-Land Issues in Social Studies</a>

<a href="/theory/TheNaturalEnvironment" class="btn subject">55. The Natural Environment</a>

<a href="/theory/TheSocialEnvironment" class="btn subject">56. The Social Environment</a>

<a href="/theory/SocialStudiesAsAnIntegratedSubject" class="btn subject">57. Social Studies as an Integrated Subject</a>

<a href="/theory/TheSocialStructureOfGhana" class="btn subject">58. The Social Structure of Ghana</a>

<a href="/theory/HistoryOfGhana" class="btn subject">59. History of Ghana</a>

<a href="/theory/HistoryAndDevelopmentOfEducationInGhana" class="btn subject">60. History and Development of Education in Ghana</a>

<a href="/theory/IntroductionToGuidanceAndCounselling" class="btn subject">61. Introduction to Guidance and Counselling</a>

<a href="/theory/IntroductionToResearchMethodsInEducation" class="btn subject">62. Introduction to Research Methods in Education</a>

<a href="/theory/SchoolManagementAndAdministration" class="btn subject">63. School Management and Administration</a>

<a href="/theory/InServiceEducationAndTraining" class="btn subject">64. In-Service Education and Training</a>

<a href="/theory/MicroTeaching" class="btn subject">65. Micro Teaching</a>

<a href="/theory/AssessmentInBasicSchools" class="btn subject">66. Assessment in Basic Schools</a>

<a href="/theory/IntroductionToAssessmentInSchools" class="btn subject">67. Introduction to Assessment in Schools</a>

<a href="/theory/ProfessionalPracticeAndEthics" class="btn subject">68. Professional Practice and Ethics</a>

<a href="/theory/ProfessionalPracticeAndEthicsInTeaching" class="btn subject">69. Introduction to Professional Practice and Ethics in Teaching</a>

<a href="/theory/EducationalPsychology" class="btn subject">70. Educational Psychology</a>

<a href="/theory/GenderAndDevelopmentInAfrica" class="btn subject">71. Gender and Development in Africa</a>

<a href="/theory/ScientificInvestigations" class="btn subject">72. Scientific Investigations</a>

<a href="/theory/NetworkComputing" class="btn subject">73. Network Computing</a>

<a href="/theory/PCMaintenanceTroubleshootingComputers" class="btn subject">74. PC Maintenance Troubleshooting Computers</a>

<a href="/theory/OfficeSuiteInEducation" class="btn subject">75. Office Suite in Education</a>

<a href="/theory/LearningTheoriesForTeachingComputers" class="btn subject">76. Learning Theories for Teaching Computers</a>

<a href="/theory/DesigningInstructionalMaterialsUsingICTTools" class="btn subject">77. Designing Instructional Materials using ICT Tools</a>

<a href="/theory/IntroductionToFoodAndNutrition" class="btn subject">78. Introduction to Food and Nutrition</a>

<a href="/theory/IntroductionToClothingAndTextiles" class="btn subject">79. Introduction to Clothing and Textiles</a>

<a href="/theory/IntroductionToFamilyResourceManagement" class="btn subject">80. Introduction to Family Resource Management</a>

<a href="/theory/BasicsOfCommunityNutrition" class="btn subject">81. Basics of Community Nutrition</a>

<a href="/theory/FoodAndCulture" class="btn subject">82. Food and Culture</a>

<a href="/theory/ClothingManagement" class="btn subject">83. Clothing Management</a>

<a href="/theory/IntroductionToTextilesDesign" class="btn subject">84. Introduction to Textiles Design</a>

<a href="/theory/BasicPatternDraftingAndAdaptation" class="btn subject">85. Basic Pattern Drafting and Adaptation</a>

<a href="/theory/GeneralAgricI" class="btn subject">86. General Agric I</a>

<a href="/theory/IntegratedPestManagement" class="btn subject">87. Integrated Pest Management</a>

<a href="/theory/IntegratedSoilFertilityManagement" class="btn subject">88. Integrated Soil Fertility Management</a>

<a href="/theory/AthleticsForBasicSchools" class="btn subject">89. Athletics for Basic Schools</a>

<a href="/theory/OrganizationAndAdministrationOfPhysicalEducationAndSportsProgramme" class="btn subject">90. Organization and Administration of Physical Education and Sports Programme</a>

<a href="/theory/NatureOfPerformingArts" class="btn subject">91. Nature of Performing Arts</a>

<a href="/theory/CreativityInThePerformingArts" class="btn subject">92. Creativity in the Performing Arts</a>

<a href="/theory/CreativityAndPerception" class="btn subject">93. Creativity and Perception</a>

<a href="/theory/HIVAIDSAndOtherEndemicDiseasesInAfrica" class="btn subject">94. HIV/AIDS and Other Endemic Diseases in Africa</a>

<a href="/theory/EnvironmentalEthics" class="btn subject">95. Environmental Ethics</a>

<a href="/theory/EntrepreneurshipAndSmallBusinessDevelopment" class="btn subject">96. Entrepreneurship and Small Business Development</a>

<a href="/theory/EducatingIndividualsWithDiverseLearningNeeds" class="btn subject">97. Educating Individuals with Diverse Learning Needs</a>

<a href="/theory/FieldExperienceII" class="btn subject">98. Field Experience II</a>

<a href="/theory/FieldExperienceIV" class="btn subject">99. Field Experience IV</a>

<a href="/theory/ResearchAndProjectWork" class="btn subject">100. Research and Project Work</a>

<a href="/theory/ResearchProjectWork" class="btn subject">101. Research Project Work</a>

</div>

</body>

<script src="/script.js"></script>

</html>
