<!DOCTYPE html>
<html>
<head>
    <title>Level 300</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container">

    <h1>LEVEL 300</h1>

    <a href="/primary/300primary" class="btn">PRIMARY</a>
    <a href="/jhs/300jhs" class="btn">JHS</a>

</div>

</body>
</html>
