<!DOCTYPE html>
<html>
<head>
    <title>Level 100</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container">

    <h1>LEVEL 100</h1>

    <a href="/primary/100primary" class="btn">PRIMARY</a>
    <a href="/jhs/100jhs" class="btn">JHS</a>

</div>

</body>
</html>
