body{
    min-height: 100vh;
    background: url('/') no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


/* Splash Screen */
.splash-screen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #0f172a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;

    animation: fadeOut 1s ease forwards;
    animation-delay: 3s;
}

.splash-screen img{
    width: 100px;
    margin-bottom: 15px;
    opacity: 0;

    animation: logoDrop 1s ease forwards;
}

.splash-screen h1{
    color: white;
    font-size: 32px;
    letter-spacing: 2px;
    font-weight: 600;

    opacity: 0;
    transform: translateY(-20px);

    animation: textDrop 0.8s ease forwards;
    animation-delay: 0.8s;
}

.splash-screen p{

    color: #cbd5e1;
    font-size: 16px;
    margin-top: 4px;
    letter-spacing: 1px;

    opacity: 0;
    transform: translateY(-20px);

    animation: textDrop 0.8s ease forwards;
    animation-delay: 1.2s;

}


@keyframes logoDrop{

    0%{
        opacity: 0;
        transform: translateY(-80px) scale(0.8);
    }

    60%{
        opacity: 1;
        transform: translateY(10px) scale(1.05);
    }

    100%{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes textDrop{

    0%{
        opacity: 0;
        transform: translateY(-25px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut{

    to{
        opacity: 0;
        visibility: hidden;
    }
}


/* TOPBAR */
.topbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: white;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 15px;
    box-sizing: border-box;

    box-shadow: 0 2px 10px rgba(0,0,0,0.2);

    z-index: 1000;
}


/* LOGO */
.logo img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo img:hover{
    transform: scale(1.05);
}


/* PROFILE */
.profile-btn{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #3b82f6;
    background: none;
    cursor: pointer;
    padding: 0;
    transition: 0.3s ease;
    top: 13px;
    right: 60px;
    position: fixed;
}

.profile-btn img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-btn:hover{
    transform: scale(1.08);
    box-shadow: 0 0 12px rgba(59,130,246,0.5);
}

/* USER ICON */

#userIcon{
    color: white;
    font-size: 18px;
}


/* MENU */
.menu-icon{
    font-size: 32px;
    cursor: pointer;
    color: black;
}

.menu-icon:hover{
    color: #007bff;
}


/* CONTAINER */
.container{
    width: 90%;

    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 90px;
    border-radius: 15px;
    box-sizing: border-box;
}


/* LEVELS */

.levels-section{

    width: 90%;
    margin: 30px  auto;

    background: #2563eb;

    border-radius: 15px;

    padding: 20px;

    color: white;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    box-sizing: border-box;

    align-items: center;
}


/* LEFT SIDE */

.levels-section h3{

    font-size: 3rem;
    margin-bottom: 10px;

    color: white;
}

.levels-section h6{

    font-size: 1rem;
    font-weight: normal;

    color: white;
}


/* BUTTONS */

.levelBtn{

    background: white;

    color: #2563eb;

    text-decoration: none;

    border-radius: 20px;

    min-height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 10px;

    font-size: 1.2rem;
    font-weight: bold;

    transition: 0.3s;
}


/* HOVER */

.levelBtn:hover{

    transform: translateY(-5px);

    background: #dbeafe;
}


/* BUTTONS */
.btn{
    display: block;

    padding: 12px;
    background: #2563eb;
    color: white;
    text-decoration: none;
    margin: 12px auto;
    border-radius: 8px;
    border: 1px solid blue;
    box-sizing: border-box;
    font-weight: bold;
    transition: 0.3s ease;
}

.btn:hover{
    background: #2563eb;
    transform: translateY(-2px);
}

.bart{
    width: 90%;
}


/* SUBHEAD */
.subhead{
    color: gray;
    font-size: 11px;
    margin: 2px 0 10px 0;
}


/* SIDEBAR */
.sidebar{
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background: #333;
    color: white;
    padding-top: 60px;
    transition: 0.3s;
    z-index: 3000;
}

.sidebar a{
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.sidebar p{
    color: white;
    position: fixed;
    bottom: 20px;
    text-align: center;
    font-size: 14px;
    font-style: italic;
    margin-left: 85px;
}


.sidebar a:hover{
    background: #575757;
}

.sidebar.active{
    left: 0;
}


/* OVERLAY */
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
    z-index: 2000;
}

.overlay.active{
    display: block;
}



/* SEARCH */
.search-bar{
    width: 80%;
    padding: 12px;
    margin: 20px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}


.imgContainer {
    margin-bottom: 70px;

    margin: 0 auto 70px auto;    
    overflow: hidden;
    width: 90%;
    border-radius: 8px;
    background: #f4f4f4;
    padding: 20px 0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    align-items: center;

}

.wrapper {

    width: ;
    height: 155px;
 
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 12rem;
    gap: 2rem;
    width: max-content;
    animation: animate 10s linear infinite;

}

.wrapper img {
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.2s ease-in-out;
    width: 190px;
    height: 150px;

}

.wrapper:hover {
    animation-play-state: paused;
    cursor: pointer;
}

@keyframes animate {
    to {
        transform: translateX(calc(-5 * (12rem + 2rem)));
    }

}

.wrapper img:hover{
    transform:scale(1.1);
}




/* FOOTER */
.footer{
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 80px;

    background: #111827;

    display: flex;
    justify-content: space-around;
    align-items: center;

    box-shadow: 0 -2px 10px rgba(0,0,0,0.2);

    z-index: 999;
}


/* FOOTER ICONS */
.footer-icon{
    width: 45px;
    height: 45px;

    background: #1f2937;
    margin-top: -5px;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    transition: 0.3s ease;
}

.footer-icon i{
    font-size: 25px;
    color: #fff;
}

.footer-icon:hover{
    transform: translateY(-5px);
    background: #2563eb;
}
