<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>100 Primary</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container">

<h1>LEVEL 100 PRIMARY</h1>

 <input
    type="text"
    id="searchInput"
    placeholder="Search subject..."
    class="search-bar"
    onkeyup="searchSubjects()"/>

    <h2>FIRST SEMESTER</h2>


    <a href="/objective/category/ElementaryAlgebra" class="btn subject">1. Elementary Algebra</a>

<a href="/objective/category/GeneralBiology" class="btn subject">2. General Biology</a>

<a href="/objective/category/ChildAdolescentDevelopmentLearning" class="btn subject">3. Child and Adolescent Development and Learning</a>

<a href="/objective/category/ComputerLiteracy" class="btn subject">4. Computer Literacy</a>

<a href="/objective/category/LanguageLinguistics" class="btn subject">5. Language and Linguistics</a>

<a href="/objective/category/GeneralAgriculture" class="btn subject">6. General Agriculture I</a>

<a href="/objective/category/GeneralBiologyTheory" class="btn subject">7. General Biology Theory I</a>

<a href="/objective/category/GeneralBiologyPractical" class="btn subject">8. General Biology Practical I</a>

<a href="/objective/category/GhanaianLanguageCulture" class="btn subject">9. Ghanaian Language and Culture-Writing Techniques</a>

<a href="/objective/category/LinguisticsGhanaianLanguage" class="btn subject">10. Linguistics of the Ghanaian Language</a>

<a href="/objective/category/LiteratureAfricanPoetry" class="btn subject">11. Literature in English Studies in African Poetry</a>

<a href="/objective/category/PerformingArtsSociety" class="btn subject">12. Performing Arts and Society</a>

<a href="/objective/category/BasicDesign" class="btn subject">13. Basic Design</a>

<a href="/objective/category/SociologyFamily" class="btn subject">14. Sociology of the Family</a>


    <h2>SECOND SEMESTER</h2>

<a href="/theory/GeneralChemistryTheoryI" class="btn subject">1. General Chemistry Theory I</a>

<a href="/theory/GeneralChemistryPracticalI" class="btn subject">2. General Chemistry Practical I</a>

<a href="/theory/CollegeGeometry" class="btn subject">3. College Geometry</a>

<a href="/theory/AfricanTraditionalReligion" class="btn subject">4. African Traditional Religion</a>

<a href="/theory/AthleticsForBasicSchools" class="btn subject">5. Athletics for Basic Schools</a>

<a href="/theory/IntegratedPestManagement" class="btn subject">6. Integrated Pest Management</a>

<a href="/theory/EnglishLanguageStudiesI" class="btn subject">7. English Language Studies I</a>

<a href="/theory/GhanaianLanguageAndCulture" class="btn subject">8. Ghanaian Language and Culture: Cultural Studies</a>

<a href="/theory/ReligiousExperienceOfHumankind" class="btn subject">9. Religious Experience of Humankind</a>

<a href="/theory/GeneralAgricI" class="btn subject">10. General Agric I</a>

<a href="/theory/GeneralPhysicsTheoryI" class="btn subject">11. General Physics Theory I</a>

<a href="/theory/GeneralPhysicsPracticalI" class="btn subject">12. General Physics Practical I</a>

<a href="/theory/GeometryAndTrigonometry" class="btn subject">13. Geometry & Trigonometry</a>

<a href="/theory/HIVAIDSAndOtherEndemicDiseasesInAfrica" class="btn subject">14. HIV/AIDS and Other Endemic Diseases in Africa</a>

<a href="/theory/OfficeSuiteInEducation" class="btn subject">15. Office Suite in Education</a>

<a href="/theory/TheNaturalEnvironment" class="btn subject">16. The Natural Environment</a>

<a href="/theory/CreativityAndPerception" class="btn subject">17. Creativity and Perception</a>

<a href="/theory/FieldExperienceII" class="btn subject">18. Field Experience II</a>

</div>

</body>

<script src="/script.js"></script>

</html>

