<!DOCTYPE html>
<html>
<head>
    <title>100 Primary</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container">

<h1>LEVEL 100 PRIMARY</h1>

 <input
    type="text"
    id="searchInput"
    placeholder="Search subject..."
    class="search-bar"
    onkeyup="searchSubjects()"/>

    <h2>FIRST SEMESTER</h2>


    <a href="/objective/category/ElementaryAlgebra" class="btn subject">1. Elementary Algebra</a>

<a href="/objective/category/GeneralBiology" class="btn subject">2. General Biology</a>

<a href="/objective/category/ChildAdolescentDevelopmentLearning" class="btn subject">3. Child and Adolescent Development and Learning</a>

<a href="/objective/category/ComputerLiteracy" class="btn subject">4. Computer Literacy</a>

<a href="/objective/category/LanguageLinguistics" class="btn subject">5. Language and Linguistics</a>

<a href="/objective/category/GeneralAgriculture" class="btn subject">6. General Agriculture I</a>

<a href="/objective/category/GeneralBiologyTheory" class="btn subject">7. General Biology Theory I</a>

<a href="/objective/category/GeneralBiologyPractical" class="btn subject">8. General Biology Practical I</a>

<a href="/objective/category/GhanaianLanguageCulture" class="btn subject">9. Ghanaian Language and Culture-Writing Techniques</a>

<a href="/objective/category/LinguisticsGhanaianLanguage" class="btn subject">10. Linguistics of the Ghanaian Language</a>

<a href="/objective/category/LiteratureAfricanPoetry" class="btn subject">11. Literature in English Studies in African Poetry</a>

<a href="/objective/category/PerformingArtsSociety" class="btn subject">12. Performing Arts and Society</a>

<a href="/objective/category/BasicDesign" class="btn subject">13. Basic Design</a>

<a href="/objective/category/SociologyFamily" class="btn subject">14. Sociology of the Family</a>


    <h2>SECOND SEMESTER</h2>

    <a href="/objective/category/GeneralChemistry" class="btn">
        1. General Chemistry
    </a>

    <a href="/objective/category/EnglishStudies" class="btn">
        2. English Language Studies 1
    </a>

    <a href="/objective/category/GhanaianLanguage" class="btn">
        3. Ghanaian Language and Culture (Twi)
    </a>

    <a href="/objective/category/GeometryTrig" class="btn">
        4. Geometry and Trigonometry
    </a>

    <a href="/objective/category/HIVAIDS" class="btn">
        5. HIV and AIDS and Endemic Diseases in Africa
    </a>

    <a href="/objective/category/HumanLandIssues" class="btn">
        6. Human-Land Issues in Social Studies
    </a>

  <a href="/objective/category/ProseFiction" class="btn">
        7. Prose Fiction
    </a>

    <a href="/objective/category/CreativityPerception" class="btn">
       8. Creativity and Perception
    </a>

</div>

</body>

<script src="/script.js"></script>

</html>

