<!DOCTYPE html>
<html>
<head>
    <title>200 Primary</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container">

<h1>LEVEL 200 PRIMARY</h1>

 <input
    type="text"
    id="searchInput"
    placeholder="Search subject..."
    class="search-bar"
    onkeyup="searchSubjects()"/>

    <h2>FIRST SEMESTER</h2>


      <a href="/objective/category/CitizenshipEducationGhana" class="btn subject">1. Citizenship Education In Ghana</a>

<a href="/objective/category/CropProduction" class="btn subject">2. Crop Production</a>

<a href="/objective/category/EnglishLanguageStudiesII" class="btn subject">3. English Language Studies II</a>

<a href="/objective/category/GeneralCurriculumStudies" class="btn subject">4. General Curriculum Studies</a>

<a href="/objective/category/GeneralPhysicsPracticalII" class="btn subject">5. General Physics Practical II</a>

<a href="/objective/category/HealthPhysicalFitness" class="btn subject">6. Health and Physical Fitness</a>

<a href="/objective/category/HealthSafetySocialIssues" class="btn subject">7. Health, Safety and Social Issues in Schools</a>

<a href="/objective/category/GeneralPhysics" class="btn subject">8. General Physics</a>

<a href="/objective/category/SocialStudiesIntegrated" class="btn subject">9. Social Studies as an Integrated Subject</a>

<a href="/objective/category/SoundMovementNotation" class="btn subject">10. Sound and Movement Notation</a>

<a href="/objective/category/AgriculturalEntrepreneurship" class="btn subject">11. Agricultural Entrepreneurship</a>

<a href="/objective/category/CurriculumStudiesScience" class="btn subject">12. Curriculum Studies in Science</a>

<a href="/objective/category/PeaceBuildingCommunities" class="btn subject">13. Peace Building in our Communities</a>

<a href="/objective/category/SocialStructureGhana" class="btn subject">14. The Social Structure of Ghana</a>

<a href="/objective/category/IntroductionSemantics" class="btn subject">15. Introduction To Semantics</a>

<a href="/objective/category/ICTSupportedTeachingLearning" class="btn subject">16. ICT Supported Teaching and Learning Strategies</a>

<a href="/objective/category/Databases" class="btn subject">17. Databases</a>

<a href="/objective/category/NatureMathematics" class="btn subject">18. Nature of Mathematics</a>

<a href="/objective/category/FieldExperienceIII" class="btn subject">19. Field Experience III</a>     

    <h2>SECOND SEMESTER</h2>


    <a href="/objective/category/GeneralChemistry" class="btn">
        1. General Chemistry
    </a>

    <a href="/objective/category/EnglishStudies" class="btn">
        2. English Language Studies 1
    </a>

    <a href="/objective/category/GhanaianLanguage" class="btn">
        3. Ghanaian Language and Culture (Twi)
    </a>

    <a href="/objective/category/GeometryTrig" class="btn">
        4. Geometry and Trigonometry
    </a>

    <a href="/objective/category/HIVAIDS" class="btn">
        5. HIV and AIDS and Endemic Diseases in Africa
    </a>

    <a href="/objective/category/HumanLandIssues" class="btn">
        6. Human-Land Issues in Social Studies
    </a>

    <a href="/objective/category/ProseFiction" class="btn">
        7. Prose Fiction
    </a>

    <a href="/objective/category/CreativityPerception" class="btn">
       8. Creativity and Perception
    </a>

</div>

</body>

<script src="/script.js"></script>

</html>
