<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>200 Primary</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container">

<h1>LEVEL 200 PRIMARY</h1>

 <input
    type="text"
    id="searchInput"
    placeholder="Search subject..."
    class="search-bar"
    onkeyup="searchSubjects()"/>

    <h2>FIRST SEMESTER</h2>


      <a href="/objective/category/CitizenshipEducationGhana" class="btn subject">1. Citizenship Education In Ghana</a>

<a href="/objective/category/CropProduction" class="btn subject">2. Crop Production</a>

<a href="/objective/category/EnglishLanguageStudiesII" class="btn subject">3. English Language Studies II</a>

<a href="/objective/category/GeneralCurriculumStudies" class="btn subject">4. General Curriculum Studies</a>

<a href="/objective/category/GeneralPhysicsPracticalII" class="btn subject">5. General Physics Practical II</a>

<a href="/objective/category/HealthPhysicalFitness" class="btn subject">6. Health and Physical Fitness</a>

<a href="/objective/category/HealthSafetySocialIssues" class="btn subject">7. Health, Safety and Social Issues in Schools</a>

<a href="/objective/category/GeneralPhysics" class="btn subject">8. General Physics</a>

<a href="/objective/category/SocialStudiesIntegrated" class="btn subject">9. Social Studies as an Integrated Subject</a>

<a href="/objective/category/SoundMovementNotation" class="btn subject">10. Sound and Movement Notation</a>

<a href="/objective/category/AgriculturalEntrepreneurship" class="btn subject">11. Agricultural Entrepreneurship</a>

<a href="/objective/category/CurriculumStudiesScience" class="btn subject">12. Curriculum Studies in Science</a>

<a href="/objective/category/PeaceBuildingCommunities" class="btn subject">13. Peace Building in our Communities</a>

<a href="/objective/category/SocialStructureGhana" class="btn subject">14. The Social Structure of Ghana</a>

<a href="/objective/category/IntroductionSemantics" class="btn subject">15. Introduction To Semantics</a>

<a href="/objective/category/ICTSupportedTeachingLearning" class="btn subject">16. ICT Supported Teaching and Learning Strategies</a>

<a href="/objective/category/Databases" class="btn subject">17. Databases</a>

<a href="/objective/category/NatureMathematics" class="btn subject">18. Nature of Mathematics</a>

<a href="/objective/category/FieldExperienceIII" class="btn subject">19. Field Experience III</a>     

    <h2>SECOND SEMESTER</h2>


<a href="/theory/MethodsOfTeachingScience" class="btn subject">1. Methods of Teaching Science</a>

<a href="/theory/GeneralBiologyTheoryII" class="btn subject">2. General Biology Theory II</a>

<a href="/theory/GeneralBiologyPracticalII" class="btn subject">3. General Biology Practical II</a>

<a href="/theory/DesigningInstructionalMaterialsUsingICTTools" class="btn subject">4. Designing Instructional Materials using ICT Tools</a>

<a href="/theory/TheSocialEnvironment" class="btn subject">5. The Social Environment</a>

<a href="/theory/AssessmentInBasicSchools" class="btn subject">6. Assessment in Basic Schools</a>

<a href="/theory/GeneralPrinciplesAndMethodsOfTeachingInBasicSchools" class="btn subject">7. General Principles and Methods of Teaching in Basic Schools</a>

<a href="/theory/TheSocialStructureOfGhana" class="btn subject">8. The Social Structure of Ghana</a>

<a href="/theory/BasicsOfCommunityNutrition" class="btn subject">9. Basics of Community Nutrition</a>

<a href="/theory/EntrepreneurshipAndSmallBusinessDevelopment" class="btn subject">10. Entrepreneurship and Small Business Development</a>

<a href="/theory/EnvironmentalEthics" class="btn subject">11. Environmental Ethics</a>

<a href="/theory/FieldExperienceIV" class="btn subject">12. Field Experience IV</a>

</div>

</body>

<script src="/script.js"></script>

</html>
