<!DOCTYPE html>
<html>
<head>
    <title>100 Primary</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container">

<h1>LEVEL 300 PRIMARY</h1>

 <input
    type="text"
    id="searchInput"
    placeholder="Search subject..."
    class="search-bar"
    onkeyup="searchSubjects()"/>


    <h2>FIRST SEMESTER</h2>

     
    <a href="/objective/category/Calculus" class="btn subject">1. Calculus</a>

<a href="/objective/category/MethodsTeachingPhysicalEducation" class="btn subject">2. Methods of teaching physical education</a>

<a href="/objective/category/MethodsTeachingEnglish" class="btn subject">3. Methods of teaching English at the Primary school level</a>

<a href="/objective/category/MethodsTeachingPrimaryMathematics" class="btn subject">4. Methods of teaching Primary school mathematics</a>

<a href="/objective/category/MethodsTeachingPrimaryScience" class="btn subject">5. Methods of teaching Primary school science</a>

<a href="/objective/category/ICTIntegrationEducation" class="btn subject">6. ICT Integration in Education</a>

<a href="/objective/category/IssuesFamilyFinance" class="btn subject">7. Issues in family finance</a>

<a href="/objective/category/InServiceEducationTraining" class="btn subject">8. In-Service Education and Training</a>

<a href="/objective/category/MethodsTeachingMathematics" class="btn subject">9. Methods of Teaching Mathematics</a>

<a href="/objective/category/LaboratoryManagementSafety" class="btn subject">10. Laboratory Management and Safety</a>

<a href="/objective/category/FieldExperienceIV" class="btn subject">11. Field Experience IV</a>
     

    <h2>SECOND SEMESTER</h2>

    <a href="/objective/category/GeneralChemistry" class="btn">
        1. General Chemistry
    </a>

    <a href="/objective/category/EnglishStudies" class="btn">
        2. English Language Studies 1
    </a>

    <a href="/objective/category/GhanaianLanguage" class="btn">
        3. Ghanaian Language and Culture (Twi)
    </a>

    <a href="/objective/category/GeometryTrig" class="btn">
        4. Geometry and Trigonometry
    </a>

    <a href="/objective/category/HIVAIDS" class="btn">
        5. HIV and AIDS and Endemic Diseases in Africa
    </a>

    <a href="/objective/category/HumanLandIssues" class="btn">
        6. Human-Land Issues in Social Studies
    </a>

    <a href="/objective/category/ProseFiction" class="btn">
        7. Prose Fiction
    </a>

    <a href="/objective/category/CreativityPerception" class="btn">
       8. Creativity and Perception
    </a>

</div>

</body>

<script src="/script.js"></script>

</html>
